
.phrase_score {
    font-family: "Source Code Pro";
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-color);
    margin-top: 20px; 
    z-index: 1;
    
  }
  .phrase_score_container{
    width: 400px;
    height: 100px;
    margin-right: 50px;
    text-align: center;
    font-size: 30px;
    
  }
  .texte{
    text-align: center;
    font-size: 30px;
  }