.center-container {
    
    text-align: center;
    height: 100vh; /* Facultatif : utilisez pour centrer dans la vue du port */
}
.info{
    width: 100%;
    height: 100px;
    background-color: aqua;
}